<div class ="jumbothron box col3">


<div class="page-header">
  <h3 class ="post-title"><%=link_to post.title, post %></h3>
</div>
<%=raw post.body.truncate(300)%>
<hr class ="divider">
<%post.tag_list.each do |tag|%>
<%=link_to "#"+tag, posts_path(:tag => tag )%>
<%end%>

<hr class ="divider">
<%=link_to "Read more", post, :class => "btn, btn-primary btn-lg pull-right"%>
<%=link_to vote_post_path(post, :direction => "like"), remote: true do%>
<%= content_tag(:i,  post.get_likes.size, class: "fa fa-thumbs-up pull-right", data: {:likes => post.id}) %>
<%end%>

<%=link_to vote_post_path(post, :direction => "dislike"), remote: true do%>
<%= content_tag(:i,  post.get_dislikes.size, class: "fa fa-thumbs-down pull-right", data: {:dislikes => post.id}) %>
 <%end%>
<%=link_to "#" do%><%= content_tag(:i,  post.comments.size, class: "fa fa-comments pull-right") %><%end%>

</div>




