<div class ="post-box jumbotron">


<div class="page-header">
  <h3 class ="post-title"><%= post.title %></h3>
</div>
<%= raw post.body%>
<hr class ="divider">

<%=link_to "Read more", post, :class => "btn, btn-primary btn-lg pull-right"%>
<%=link_to vote_post_path(post, :direction => "like"), remote: true do%>
<%= content_tag(:i,  post.get_likes.size, class: "fa fa-thumbs-up pull-right", data: {:likes => post.id}) %>
<%end%>

<%=link_to vote_post_path(post, :direction => "dislike"), remote: true do%>
<%= content_tag(:i,  post.get_dislikes.size, class: "fa fa-thumbs-down pull-right", data: {:dislikes => post.id}) %>
 <%end%>
<%=link_to "#" do%><i class="fa fa-comment pull-right">13</i> <%end%>

</div>




