<div class = "container">
	<div class = "row">
		<div class = "col-md-4">
			<%=link_to posts_path do%>
				<%=image_tag "All.jpg", :size => "100x100"%>
				<br>
				All
			<%end%>
		</div>

		<%@religions.each do |religion|%>
		<div class = "col-md-4">
			<%=link_to posts_path(:religion_id => religion.id ) do %> 
				<%=image_tag religion.name+".jpg", :size => "100x100"%>
				<br>
			<%=religion.name%>
		
		<%end%>
		</div>	
	<%end%>
	</div>
</div>
