
<div class="page-header ">
<h2 class ="text-center welcome-text" >Let's Talk About Religions</h2>
<h3 class ="welcome-text text-center">A Place for people discuss cross-religion topics </h3>

<div class = "container statistics">
<h4 class ="text-right"><%=@posts_size%>  Topics</h3>
<h4 class ="text-right"><%=@users_size%> Users</h3>
</div>
</div>

<%=render "religions"%>


<div data-no-turbolink>
<%= link_to t('.new', :default => t("helpers.links.new")), new_post_path, :class => 'btn btn-primary'  %>
</div>
<div id = "masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <%= render @posts%>
</div>
<div id="infinite-scroll">
  <%= will_paginate %>
</div>
