<%- model_class = Post -%>
<div class="page-header post-title">
  <h1><%=@post.title%></h1>
</div>

<div class = "religions-container">
  <%@post.religions.each do |religion|%>
    <%=image_tag religion.name+".svg", :size => "30x30"%>
  <%end%>
</div>
<div class="jumbotron post-body">
<%=raw @post.body %>
<%=link_to vote_post_path(@post, :direction => "like"), remote: true do%>
<%= content_tag(:i,  @post.get_likes.size, class: "fa fa-thumbs-up pull-right", data: {:likes => @post.id}) %>
<%end%>

<%=link_to vote_post_path(@post, :direction => "dislike"), remote: true do%>
<%= content_tag(:i,  @post.get_dislikes.size, class: "fa fa-thumbs-down pull-right", data: {:dislikes => @post.id}) %>
 <%end%>
<%=link_to "#" do%><%= content_tag(:i,  @post.comments.size, class: "fa fa-comments pull-right") %></i> <%end%>
</div>

<% @post.tag_list.each do |list| %>
<div class = "tags-container">
<p><%=list%></p>
<p>hey</p>
</div>
<%end%>

Leaves your comment in here:


<%=form_for [@post, @comment], remote: true do |f|%>
<div class="form-group container">
<%=f.text_area :body, :class => 'text-field form-control col-md-2'%>
 </div>
   <%= f.submit nil, :class => 'btn btn-primary' %>
<%end%>
<div class = "comments-container">
<%=render @comments%>
</div>


<div class="form-group"  data-no-turbolink>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn btn-default'  %>

  <%= render_edit_button %>
  <%= render_delete_button  %>
</div>


